<section class="full-page">
  <div class="mt-4 ms-5 me-5">
    <h1 class="title">WEBSITE POWERED BY</h1>
    <div class="d-flex justify-content-around">
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/angular-logo.svg" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">Angular</p></div>
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/ts-logo.svg" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">Typescript</p></div>
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/gsap-logo.png" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">GSAP</p></div>
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/scrollmagic-logo.png" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">Scroll Magic</p></div>
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/html-logo.svg" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">HTML</p></div>
      <div class="col xy-center flex-column"><img class="p-2" style="height:200px; width:200px" src="../../assets/images/logos/css-logo.svg" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">CSS</p></div>
      <div class="col xy-center flex-column"><img style="height:200px; width:200px" src="../../assets/images/logos/js-logo.svg" alt="Alternate Text" /><p class="d-inline fw-bolder mt-2 fs-3">JavaScript</p></div>
    </div>
  </div>
</section>

