.dark-overlay{
    position:relative;
    display:inline-block;
}
.dark-overlay::after {
  content: "";
  position: absolute;
  height: 100%;
  background: rgb(34, 34, 34);
  left: 0;
  top:0;
}

.overlay-animated::after {
  animation: overlay-animated cubic-bezier(0.19, 1, 0.22, 1) 2s 1 normal forwards;
}

@keyframes overlay-animated {
  0% {
    right: 100%;
  }

  50% {
    right: 0;
    left: 0;
  }

  100% {
    right: 0;
    left: 100%;
  }
}
