<section class="full-page contact-section">
  <div class="xy-center h-100 w-100">
    <div class="row m-0">
      <div class="col text-center"><a href="mailto:m.amalshaiju16@gmail.com"><img class="p-4" style="width:300px;height:280px;" src="../../assets/images/logos/mail-logo.png" alt="Alternate Text" /></a></div>
      <div class="col text-center"><a href="https://www.linkedin.com/in/amalshaiju/" target="_blank"><img class="p-4" style="width:250px;height:260px;" src="../../assets/images/logos/linkedin-logo.svg" alt="Alternate Text" /></a></div>
      <div class="col text-center"><a href="https://github.com/Amalshaiju" target="_blank"><img class="p-4" style="width:250px;height:250px;" src="../../assets/images/logos/github-logo.png" /></a></div>
    </div>
  </div>
</section>
