<section class="full-page section-5">
  <div class="row m-auto">
    <div class="col bg-white">
      <section class="full-page">
        <p class="fw-bolder mt-2 bg-black text-white d-inline p-2">PERSONAL BELIEF</p>
        <div class="xy-center h-100">
          <blockquote class="quoteTextWrap w-50">
            <svg id="quote1TextSVG" x="0" y="0" viewBox="0 0 591.7 313.3">
              <polyline id="quote1Triangle" class="quote1Triangle" points="191.9,118.2 128,7.3 463.8,7.3 295.9,298 233.2,189.5" style="stroke-dashoffset: 1000px;"></polyline>
              <rect x="170" y="112.9" class="quoteText1BG" width="93" height="82"></rect>
              <rect x="370" y="43.9" class="quoteText1BG" width="93" height="82"></rect>
              <text x="239.2858" y="109.9107" class="quoteText quoteText2BG" data-svg-origin="239.28579711914062 95.60791015625" transform="matrix(1,0,0,1,0,0)">“DO WHAT YOU LOVE</text>
              <text x="-0.7142" y="179.7315" class="quoteText quoteText2BG" data-svg-origin="-0.7142000794410706 165.42872619628906" transform="matrix(1,0,0,1,0,0)">LOVE WHAT YOU DO”</text>
            </svg>
          </blockquote>
        </div>
      </section>
    </div>

    <div class="col bg-black">
      <p class="fw-bolder mt-2 float-end bg-white text-black d-inline p-2">WORK BELIEF</p>
      <div class="xy-center h-100">
        <blockquote class="quoteTextWrap w-50">
          <svg id="quote2TextSVG" x="0" y="0" viewBox="0 0 516.4 313.3">
            <polyline id="quote2Triangle" class="st0" points="210.2,96.4 258.2,13.3 426.1,304 90.3,304 170.5,165.1" style="stroke-dashoffset: 1000px;"></polyline>
            <rect x="137.2" y="91.3" class="quoteText2BG" width="239" height="82"></rect>
            <rect x="78.1" y="189.9" class="quoteText2BG" width="92.1" height="82"></rect>
            <rect x="348.4" y="189.9" class="quoteTextBG" width="92.1" height="82"></rect>
            <text x="114.083" y="158.8266" class="quoteText quoteText1BG">“YOUR ATTITUDE</text>
            <text x="2.441406" y="252.3795" class="quoteText quoteText1BG">DETERMINES YOUR ALTITUDE”</text>
          </svg>
        </blockquote>
      </div>
    </div>
  </div>

</section>
